<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>hello</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style> 
    </style>    
</head>

<body>
  <div id="app">
    <div class="row justify-content-center mt-2">
      <div class="col-10">
        <form @submit.prevent="onSubmit">
          <div class="form-group"> 
              <label for="checkbox">enter comments</label>
              <textarea class="form-control"
                          v-model="comment"
                          rows="7"
                          cols="80"
                          id="checkbox">
              </textarea>
          </div>
          <button class="btn btn-sm btn-success" type="submit">Publish</button>
        </form>
      </div>
    </div>
      
    
    <div class="row justify-content-center mt-2">
      <div class="col-10">
        <div class="card" v-for="comment in comments">
          
          <div class="card-body" v="p">
              {{ comment }}
          </div>
          
        </div>
      </div>
    </div>
 


    <!-- <div class="row justify-content-center mt-3">
        <div class="col-5">
                <p>write a message</p>
                <textarea v-model="text" class="form-control" placeholder="write somethings" cols=30 rows="5"></textarea>
        </div>
        <div class="col-5">
            <p>message</p>
            {{text}}
        </div>
    </div>
    
    <div class="row justify-content-center mt-3">
        <input type="checkbox"  id="checkbox" v-model="checked"> 
        <label for="checkbox">&nbsp;&nbsp; Value {{checked}}</label>
     </div> -->
     
      
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="d.js"></script>
</body>

</html>